@import "./vendor/montserrat/stylesheet.css";
@import "./normalize.scss";
@import "./variables.scss";


// основные стили

$title_color_light:#FFFFFF;
$title_line_color : #00A651;
$title_color_dark : #001237;
$title_color_attention: #27488A;

.title {
  @include fontText(normal, bold, 36px, 103.69%);
  text-transform: capitalize;
  margin        : 0;
  text-align    : left;

  &::after {
    content   : "";
    display   : block;
    width     : 64px;
    height    : 4px;
    margin-top: 15px;
  }

  &--light {
    color: $title_color_light;

    &::after {
      background: $title_color_light;
    }
  }

  &--dark {
    color: $title_color_dark;

    &::after {
      background: $title_line_color;
    }
  }
  &--attention {
    color: $title_color_attention;
  }
}

.title--h2 {
  @include fontText(normal, 800, 24px, 103.69%);

  margin    : 0;
  text-align: left;


  display       : flex;
  align-items   : center;
  text-transform: uppercase;
}

.title--line {
  &::before {
    content     : "";
    display     : block;
    width       : 16px;
    height      : 3px;
    background  : $title_line_color;
    margin-right: 15px;
  }
}

.title--small {
  @include fontText(normal, bold, 18px, 103.69%);
  margin    : 0;
  text-align: left;
}

// для простых параграфов
$text_color_light:#FFFFFF;
$text_color_dark : #001237;
$text_color_basic: #000000;

.text {
  @include fontText(normal, normal, 18px, 103.69%);
  margin: 0;
  text-align: start;

  &--light {
    color: $title_color_light;
  }

  &--dark {
    color: $title_color_dark;
  }
  &--color-basic {
    color: $text_color_basic;
  }
}

// стиль для фона компонентов
$back-color      :#11357E;
$back-color-light:#FFFFFF;

.back {
  width           : 100%;
  background-color: $back-color;
}

.back--color-light {
  width           : 100%;
  background-color: $back-color-light;
}

.component {
  width        : 100%;
  max-width    : 1300px;
  padding-left : 50px;
  padding-right: 50px;
  margin       : 0 auto;

  // @media screen and (max-width:1024px) {
  //     padding: 0 50px;
  // }
  @media screen and (max-width:670px) {
    padding-left : 15px;
    padding-right: 15px;
  }

}

// стиль для фона компонентов


.mt_0 {
  margin-top: 0px;
}

.mt_15 {
  margin-top: 15px;
}

.mb_0 {
  margin-bottom: 15px;
}

.mb_15 {
  margin-bottom: 15px;
}

.mb_25 {
  margin-bottom: 25px;
}

.mb_30 {
  margin-bottom: 30px;
}

.mb_40 {
  margin-bottom: 40px;
}