@import "../../../variables.scss";

.checkbox {
    display : flex;
    position: relative;
    cursor  : pointer;

    &__btn {
        display      : flex;
        margin-right : 10px;
        position     : relative;
        width        : 22px;
        height       : 22px;
        flex-shrink  : 0;
        background   : #F7F9FA;
        box-shadow   : inset 2px 2px 3px #D6D8D9, inset -2px -2px 3px #FFFFFF;
        border-radius: 4px;
    }

    &__checked {
        display : none;
        position: absolute;
        top     : 3.5px;
        left    : 5px;
    }

    &__label {
        @include fontText(normal, normal, 16px, 20px);
    }

    &__field:checked+&__btn &__checked {
        display: block;
    }
}